{% extends 'layout_center_box.html' %}

{% block body %}

<h2>Add Role</h2>
<form class="" method="POST">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
    <div class="form-group">
      {{ form.name.label(class="form-control-label") }}
      {% if form.name.errors %}
        {{ form.name(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.name.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.name(class="form-control form-control-lg") }}
      {% endif %}
     <div class="form-group">
      {{ form.view_product.label(class="form-control-label") }}
      {% if form.view_product.errors %}
        {{ form.view_product(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.view_product.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.view_product(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.add_product.label(class="form-control-label") }}
      {% if form.add_product.errors %}
        {{ form.add_product(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.add_product.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.add_product(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.edit_product.label(class="form-control-label") }}
      {% if form.edit_product.errors %}
        {{ form.edit_product(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.edit_product.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.edit_product(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.delete_product.label(class="form-control-label") }}
      {% if form.delete_product.errors %}
        {{ form.delete_product(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.delete_product.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.delete_product(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.view_store.label(class="form-control-label") }}
      {% if form.view_store.errors %}
        {{ form.view_store(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.view_store.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.view_store(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.add_store.label(class="form-control-label") }}
      {% if form.add_store.errors %}
        {{ form.add_store(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.add_store.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.add_store(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.edit_store.label(class="form-control-label") }}
      {% if form.edit_store.errors %}
        {{ form.edit_store(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.edit_store.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.edit_store(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.delete_store.label(class="form-control-label") }}
      {% if form.delete_store.errors %}
        {{ form.delete_store(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.delete_store.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.delete_store(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.view_price.label(class="form-control-label") }}
      {% if form.view_price.errors %}
        {{ form.view_price(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.view_price.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.view_price(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.add_price.label(class="form-control-label") }}
      {% if form.add_price.errors %}
        {{ form.add_price(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.add_price.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.add_price(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.edit_price.label(class="form-control-label") }}
      {% if form.edit_price.errors %}
        {{ form.edit_price(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.edit_price.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.edit_price(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.delete_price.label(class="form-control-label") }}
      {% if form.delete_price.errors %}
        {{ form.delete_price(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.delete_price.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.delete_price(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.view_user.label(class="form-control-label") }}
      {% if form.view_user.errors %}
        {{ form.view_user(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.view_user.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.view_user(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.add_user.label(class="form-control-label") }}
      {% if form.add_user.errors %}
        {{ form.add_user(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.add_user.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.add_user(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.edit_user.label(class="form-control-label") }}
      {% if form.edit_user.errors %}
        {{ form.edit_user(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.edit_user.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.edit_user(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.delete_user.label(class="form-control-label") }}
      {% if form.delete_user.errors %}
        {{ form.delete_user(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.delete_user.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.delete_user(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.view_role.label(class="form-control-label") }}
      {% if form.view_role.errors %}
        {{ form.view_role(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.view_role.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.view_role(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.add_role.label(class="form-control-label") }}
      {% if form.add_role.errors %}
        {{ form.add_role(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.add_role.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.add_role(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.edit_role.label(class="form-control-label") }}
      {% if form.edit_role.errors %}
        {{ form.edit_role(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.edit_role.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.edit_role(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.delete_role.label(class="form-control-label") }}
      {% if form.delete_role.errors %}
        {{ form.delete_role(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.delete_role.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.delete_role(class="form-control form-control-lg") }}
      {% endif %}
    </div>
   </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-success m-1") }}
      <a type="button" class="btn btn-secondary m-1" href="/view_roles">Cancel</a>
    </div>
  </fieldset>
</form>
{% endblock body%}
