{% extends 'layout_center_box.html' %}

{% block body %}
<h2>Edit Profile</h2>
<form class="" method="post">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
    <div class="form-group">
      {{ form.username.label(class="form-control-label") }}
      {% if form.username.errors %}
        {{ form.username(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.username.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.username(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.email.label(class="form-control-label") }}
      {% if form.email.errors %}
        {{ form.email(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.email(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.addr_housenumber.label(class="form-control-label") }}
      {% if form.addr_housenumber.errors %}
        {{ form.addr_housenumber(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.addr_housenumber.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.addr_housenumber(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.addr_street.label(class="form-control-label") }}
      {% if form.addr_street.errors %}
        {{ form.addr_street(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.addr_street.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.addr_street(class="form-control form-control-lg") }}
      {% endif %}
    </div>

    <div class="form-group">
      {{ form.addr_unit.label(class="form-control-label") }}
      {% if form.addr_unit.errors %}
        {{ form.addr_unit(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.addr_unit.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.addr_unit(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.addr_city.label(class="form-control-label") }}
      {% if form.addr_city.errors %}
        {{ form.addr_city(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.addr_city.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.addr_city(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.addr_state.label(class="form-control-label") }}
      {% if form.addr_state.errors %}
        {{ form.addr_state(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.addr_state.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.addr_state(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.addr_postcode.label(class="form-control-label") }}
      {% if form.addr_postcode.errors %}
        {{ form.addr_postcode(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.addr_postcode.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.addr_postcode(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.magnitude_unit_system.label(class="form-control-label") }}
      {% if form.magnitude_unit_system.errors %}
        {{ form.magnitude_unit_system(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.magnitude_unit_system.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.magnitude_unit_system(class="form-control form-control-lg") }}
      {% endif %}
    </div>
  </fieldset>
  <div class="form-group">
    {{ form.submit(class="btn btn-warning m-1") }}
    <a type="button" class="btn btn-secondary m-1" href="/view_user">Cancel</a>
  </div>
</form>
{% endblock body %}
