{% extends 'layout_center_box.html' %}

{% block body %}
<h2>Enter Email for Password Reset</h2>
<form class="" method="post">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
    <div class="form-group">
      {{ form.email.label(class="form-control-label") }}
      {% if form.email.errors %}
        {{ form.email(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.email(class="form-control form-control-lg") }}
      {% endif %}
    </div>
  </fieldset>
  <div class="form-group">
    {{ form.submit(class="btn btn-primary") }}
  </div>
</form>
{% endblock body %}
