{% extends 'layout_center_box.html' %}

{% block body %}
<h2>Find Stores</h2>
<form class="" method="GET">
  <fieldset class="form-group">
    <div class="form-group">
      {{ form.latitude.label(class="form-control-label") }}
      {% if form.latitude.errors %}
        {{ form.latitude(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.latitude.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.latitude(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.longitude.label(class="form-control-label") }}
      {% if form.longitude.errors %}
        {{ form.longitude(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.longitude.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.longitude(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-success") }}
    </div>
        <div class="form-group">
      {{ form.radius.label(class="form-control-label") }}
      {% if form.radius.errors %}
        {{ form.radius(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.radius.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.radius(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-success") }}
    </div>
  </fieldset>
</form>

{% if stores|length != 0 %}
<h3>Stores</h3>
    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <th>Address</th>
            </tr>
        {% for store in stores %}
            <tr>
                <td><a href="/view_store/{{ store.store_id }}">{{ store.name }}</a></td>
                <td>{{ store.addr_housenumber }} {{ store.addr_street }}</td>
            </tr>
        {% endfor %}
        <tbody>
    </table>
{% endif %}

{% endblock body%}
