{% extends 'layout_center_box.html' %}

{% block body %}
{% from '_macros.html' import scan_barcode %}

<h2>Find Product</h2>
<form class="" method="POST">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
    <div class="form-group">
      {{ scan_barcode("barcode-input-field") }}
      {{ form.query.label(class="form-control-label") }}
      {% if form.query.errors %}
        {{ form.query(id="barcode-input-field", class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.query.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.query(id="barcode-input-field", class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-primary btn-block") }}
    </div>
  </fieldset>
</form>

<h3>Results</h3>
{% if products|length != 0 %}
    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <th>Barcode</th>
            </tr>
        {% for product in products %}
            <tr>
                <td><a href="/view_product/{{ product.Product.id }}">{{ product.ProductVersion.name }}</a></td>
                <td>{{ product.ProductVersion.barcode }}</td>
            </tr>
        {% endfor %}
        <tbody>
    </table>
{% endif %}
{% endblock body%}
