{% extends 'layout_wide_container.html' %}

{% block body %}

<h1>Javacript License Information</h1>


<table id="jslicense-labels1" class="table">
  <caption>Here are the javascript files used on this site with the corresponding licenses and source codes.</caption>
  <thead>
    <tr>
      <th scope="col">Javascript File</th>
      <th scope="col">License</th>
      <th scope="col">Javascript Source</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row"><a href="/static/js/bootstrap.min.js">bootstrap.min.js</td>
      <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
      <td><a href="/static/js/bootstrap-4.3.1.zip">bootstrap-4.3.1.zip</a></td>
    </tr>
    <tr>
      <td scope="row"><a href="/static/js/jquery-3.5.1.slim.min.js">jquery-3.5.1.slim.min.js</td>
      <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
      <td><a href="/static/js/jquery-3.5.1.slim.js">jquery-3.5.1.slim.js</a></td>
    </tr>
    <tr>
      <td scope="row"><a href="/static/js/leaflet.js">leaflet.js</td>
      <td><a href="http://www.freebsd.org/copyright/freebsd-license.html">The BSD 2-Clause License</a></td>                 
      <td><a href="/static/js/leaflet-src.js">leaflet-src.js</a></td>
    </tr>
    <tr>
      <td scope="row"><a href="/static/js/quagga.min.js">quagga.min.js</a></td>
      <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
      <td><a href="https://github.com/serratus/quaggaJS">QuaggaJS</a></td>
    </tr>
  </tbody>
</table>
    
{% endblock body%}
