{% extends 'layout_center_box.html' %}

{% block body %}

<h2>Import Stores</h2>
<p>Please note: This page will take a while to run.</p>
<p>Importing stores uses Nominatim reverse geocoding. By default, this is using the nominatim
  instance hosted by the OpenStreetMap Foundation. In order to not overload the server,
  we wait 1 second between requests. Please do not attempt to import large amounts of data.
  Please stick to the stores in like one city.</p>
<form class="" method="POST">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
    <div class="form-group">
      {{ form.location.label(class="form-control-label") }}
      {% if form.location.errors %}
        {{ form.location(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.location.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.location(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.key_value_pairs.label(class="form-control-label") }}
      {% if form.key_value_pairs.errors %}
        {{ form.key_value_pairs(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.key_value_pairs.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.key_value_pairs(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-success") }}
    </div>
  </fieldset>
</form>
{% endblock body%}
