{% extends 'layout.html' %}

{% block sublayout %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 pt-0 pt-lg-1 px-3 px-lg-4">
      <div class="bg-light p-md-5">
        {% block body %}
        {% endblock body%}
      </div>
    </div>
  </div>
</div>
{% endblock sublayout %}
