{% extends 'layout_center_box.html' %}

{% block body %}
<h2>Price Feed</h2>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Unit Price</th>
    <th>Date</th>
  </thead>
  <tbody>
    {% for info in joined %}
    <tr>
      <td><a href="/view_product/{{info.Products.barcode}}">{{info.Products.name}}</a></td>
      <td>${{info.Prices.price / 1000}}</td>
      <td>{{info.Prices.date}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock body %}
