{% extends 'layout_center_box.html' %}

{% block body %}
<h2>Reset Password</h2>
<form class="" method="post">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
    <div class="form-group">
      {{ form.new_password.label(class="form-control-label") }}
      {% if form.new_password.errors %}
        {{ form.new_password(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.new_password.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.new_password(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.confirm_password.label(class="form-control-label") }}
      {% if form.confirm_password.errors %}
        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.confirm_password.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.confirm_password(class="form-control form-control-lg") }}
      {% endif %}
    </div>
  </fieldset>
  <div class="form-group">
    {{ form.submit(class="btn btn-success") }}
  </div>
</form>
{% endblock body %}
