{% extends 'layout_center_box.html' %}

{% block body %}
<h2>Role</h2><a type="button" class="btn btn-warning m-1" href="/edit_role/{{role.id}}">Edit</a>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Permissions</th>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="/view_role/{{role.id}}">{{role.name}}</a>
      </td>
      <td>
        {% for permission in role.permissions %}
            {{permission.name}}<br> 
        {% endfor %}
      </td>
    </tr>
  </tbody>
</table>
{% endblock body %}
