{% extends 'layout_center_box.html' %}

{% block body %}
{% from '_macros.html' import location_viewer_map %}

{% if store.name %}
  <h2>{{store.name}}</h2>
{% endif %}

{% if store.brand %}
  <h2>{{store.brand}}</h2>
{% endif %}


<div class="row">
  <div class="col-12 col-md-6">
    <table class="table">
      <tbody>
        <tr>
          <th>Address</th>
          <td>
            {% if store.addr_street %}
              {% if store.addr_housenumber %}
                {{store.addr_housenumber}} {{store.addr_street}}
              {% else %}
                {{store.addr_street}}
              {% endif %}
            {% endif %}
            <br>
            {% if store.addr_unit %}
              Unit {{store.addr_unit}}
              <br>
            {% endif %}
            {% if store.addr_city and store.addr_state %}
              {{store.addr_city}}, {{store.addr_state}}
              <br>
            {% elif store.addr_city %}
              {{ store.addr_city }}
              <br>
            {% elif store.addr_state %}
              {{ store.addr_state }}
              <br>
            {% endif %}
            {% if store.addr_postcode %}
              {{store.addr_postcode}} 
            {% endif %}
            {% if store.addr_country %}
              {{store.addr_country}}
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12 col-md-6">
    {{location_viewer_map(mapbox_api_key, location)}}
  </div>
</div>

{% endblock body %}
