{% extends 'layout_center_box.html' %}

{% block body %}
<h2>Roles</h2>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Permissions</th>
  </thead>
  <tbody>
      {% for role in roles %}  
        <tr>
          <td>
            <a href="/view_role/{{role.id}}">{{role.name}}</a>
          </td>
          <td>
            {% for permission in role.permissions %}
                {{permission.name}}<br> 
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock body %}
