{% extends 'layout_center_box.html' %}

{% block body %}
<h2>Profile Versions</h2>
<a href="/view_user" class="btn btn-primary m-1" role="button">View curent profile</a>
{% for version in user_versions %}
    <h3>Version created {{ version.change_dtm }} UTC
    <table class="table">
        <tbody>
            {% if version.username %}
                <tr>
                    <th>Username</th>
                    <td>{{ version.username }}</td>
                </tr>
            {% endif %}
            {% if version.email %}
                <tr>
                  <th>Email</th>
                  <td>{{ version.email }}</td>
                </tr>
            {% endif %}
            {% if version.addr_housenumber %}
                <tr>
                  <th>Housenumber</th>
                  <td>{{ version.addr_housenumber }}</td>
                </tr>
            {% endif %}
            {% if version.addr_street %}
                <tr>
                  <th>Street</th>
                  <td>{{ version.addr_street }}</td>
                </tr>
            {% endif %}
            {% if version.addr_unit %}
                <tr>
                  <th>Unit</th>
                  <td>{{ version.addr_unit }}</td>
                </tr>
            {% endif %}
            {% if version.addr_city %}
                <tr>
                  <th>City</th>
                  <td>{{ version.addr_city }}</td>
                </tr>
            {% endif %}
            {% if version.addr_state %}
                <tr>
                  <th>State</th>
                  <td>{{ version.addr_state }}</td>
                </tr>
            {% endif %}
            {% if version.addr_postcode %}
                <tr>
                  <th>Postcode</th>
                  <td>{{ version.addr_postcode }}</td>
                </tr>
            {% endif %}
            {% if version.magnitude_unit_system.name %}
                <tr>
                  <th>Magnitude Unit System</th>
                  <td>{{ version.magnitude_unit_system.name }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endfor %}
{% endblock body %}
